<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/sciencespo.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2016</h4>
                                    <h4 class="subheading">Studying ... quite everything !</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I studied all range of subjects over the three first years, including political sciences, economics, history and sociology. During my year in Italy, I decided to focus on the history of arts, with a special interest in the pre-Renaissance paintings that were all around me. For my Master, I specialised in Finance and Strategy, that led me to my first work experiences in the tech industry</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/M6-direct.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September - March 2015</h4>
                                    <h4 class="subheading">Introduction to the tech industry </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <strong>Business development Intern at M6 WEB</strong></br>Being a Business Development Intern in M6 WEB was a very good way to discover the tech industry : while trying to improve the main digital assets of this TV Channel, my main mission was to watch and identify emerging web and mobile businesses and opportunities. This activity made me discover and study many companies … and convinced me to work in this part of the industry. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/deezer.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March-August 2015</h4>
                                    <h4 class="subheading">On my way to code ...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><strong>International AdSales Analyst at Deezer, Streaming service</strong></br>This first work experience in the tech industry really confirmed my conviction to work in this environment. After talking to the product management team and the development team, I was quite intrigued by the power of creation and production that comes form coding. After a few hours spent on the web, learning a few things by myself, I realised that I wanted to learn more about it ! </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/generalassembly.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February - April 2016</h4>
                                    <h4 class="subheading">Beginning of the adventure! </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The twelve weeks in General Assembly in the Web Development immersive programme not only taught me a solid base of fundamental programming knowledge,  but also taught me how to learn code and how exciting it was! The  ambitious learning structure of the course taught me to adapt myself quickly to different languages and to switch easily between them as well as it helped me to really improve my learning capabilities. To sum-up, an exciting, intensive, challenging and incredibly satisfaying experience!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>