<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/sciencespo.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2016</h4>
                                    <h4 class="subheading">Studying ... quite everything !</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I had a very general education during my first three years, including political sciences, economics, history and sociology. During my year in Italy, I decided to focus on the history of arts, with a special interest in the pre-Renaissance paintings that were all around me. For my master, I specialised in Strategy, with a minor of Finance, that led me to my first work experiences in the tech industry</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/M6-direct.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September - March 2015</h4>
                                    <h4 class="subheading">Introduction to the web industry </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <strong>Business development Intern at M6, a french TV Channel</strong></br>Being a Business Development Intern in an industry trying to digitalize itself was, quite surprisingly, a very good way to discover the tech industry. As they were trying to diversify their activities, my main mission was to watch and identify emerging web and mobile businesses. This activity made me discover and study many companies trying to make its way in the web industry … and convinced me to work in this part of the industry rather than in a more traditional company. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/deezer.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March-August 2015</h4>
                                    <h4 class="subheading">On my way to code ...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><strong>International AdSales Analyst at Deezer, Streaming service</strong></br>This first work experience in the web industry really confirmed my conviction to work in this environment. Talking to my colleagues at the product, I was however frustrated to stand only on the business side and I was quite intrigued by the power of realisation and creation that comes form coding. After a few hours spent on the web, learning a few things by myself, I realised that I wanted to learn much more about it ! </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/generalassembly.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February - April 2016</h4>
                                    <h4 class="subheading">Beginning of the adventure ! </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The twelve weeks in General Assembly in the web development immersive programm not only taught me a solid base of fundamental programming knowledge,  but also taught me how to learn code and how exciting it was ! The  ambitious program of the course taught me to adapt myself quickly to different languages and to switch easily between them as well as it helped me to really improve my learning process. To sum-up, an exciting, intensive, challenging and incredibly satisfaying experience !</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>