<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Lise Muller</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">My Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Me</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                       <a class="page-scroll" href="https://github.com/Lisemuller" target="_blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li>
                       <a class="page-scroll" href="https://www.linkedin.com/in/lisemuller" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->

    <header>

            <script src="http://threejs.org/build/three.min.js"></script>

            <script src="http://threejs.org/examples/js/renderers/Projector.js"></script>
            <script src="http://threejs.org/examples/js/renderers/CanvasRenderer.js"></script>

            <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

            <script src="http://threejs.org/examples/obj/Bird.js"></script>

            <script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script> 

            <script src="{{ "/js/bird.js" | prepend: site.baseurl }}"></script>

                <div class="intro">
                    <h1 class="intro-lead-in">Lise Muller</h1>
                    <p class="intro-heading">
                    After five years of academic studies, I have decided to start a new adventure by discovering, learning and practicing code.</br>
                    Already three months of incredible learning ... and I am now eagered to put my recently acquired knowledge in practice </br>
                    </p>
                    <a href="#services" class="page-scroll btn btn-xl">
                       Learn More</a>
                </div>


    </header>




<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

