<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My journey through code ... </h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a class="page-scroll" href="#portfolio">My Portfolio</a></h4>
                    <p class="text-muted">Have a look at my different projects, all coded with love over the past three months !</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a class="page-scroll" href="#about">About Me</a></h4>
                    <p class="text-muted">Learn a bit more about me and my motivation to start this experience</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a class="page-scroll" href="#contact">Contact</a></h4>
                    <p class="text-muted"> Interested in a dynamic intern motivated to do her best ? Just want to have a little chat and discuss about my experience ? Contact me !  </p>
                </div>
            </div>
        </div>
    </section>